# hostname or ip of futurehome hub
FIMP_SERVER=cube
FIMP_USERNAME=
FIMP_PASSWORD=
FIMP_PORT=1884
CLIENT_ID=fimp2mqtt
DEBUG=False
SELECTED_DEVICES_MODE="ignored" # ignored, include, exclude
SELECTED_DEVICES=
